<!-- TODO: Componentizar el toolbar.-->
<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  <span>{{title | uppercase}}</span>
</mat-toolbar>

<mat-sidenav-container>
  
  <mat-sidenav #sidenav="matSidenav" class="sidenav">
    <app-sidenav (clicked)="onClick()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>